<?xml version="1.0"?>
<launch>
    <!-- model file -->
    <arg name="model" default="$(find robond_map)/urdf/robot.xacro"/>

    <!-- spawn location -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <!-- send the robot XML to param server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)' --inorder" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
        -urdf
        -x '$(arg x)'
        -y '$(arg y)'
        -z '$(arg z)'
        -R '$(arg R)'
        -P '$(arg P)'
        -Y '$(arg Y)'
        -model robot"
        respawn="false" output="screen"/>

    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

</launch>
