<launch>
    <param name="/use_sim_time" value="true" />
    <arg name="world_file" default="$(find robond_map)/worlds/kitchen_dining.world"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
    </include>

    <include file="$(find robond_map)/launch/spawn.launch"/>
</launch>
